#InternalExternal li, #AlertInternalExternal li {
    width: 276px;
}
#Form_ItemEditForm_InternalLink_Holder, #Form_ItemEditForm_ExternalLink_Holder {
    display: none;
}
/**** this hides the "New Record" button on the  ****/
#Form_ItemEditForm_action_doNew {
    display: none;
}
#Form_ItemEditForm_InternalLink_Holder.hidden, #Form_ItemEditForm_ExternalLink_Holder.hidden {
    display: none;
}
#Form_ItemEditForm_InternalLink_Holder.show, #Form_ItemEditForm_ExternalLink_Holder.show {
    display: block;
}